  body {
      box-sizing: border-box;
  }

  #tiles {
      /* max-width: 75vw; */
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  #tiles .tile {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-duration: 1s;
      font-weight: bold;
  }

  .fade {
      animation-name: anim8
  }

  @keyframes anim8 {
      0% {
          opacity: 1;
      }

      50% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }

  /* 768 */
  @media screen and (min-width: 768px) {
      #tiles {
          justify-content: flex-start;
      }
  }