  body {
      box-sizing: border-box;
  }

  #container {
      border: 1px solid red;
      max-width: 70vw;
      margin: 0 auto;
  }

  #tiles {
      display: flex;
      flex-wrap: wrap;
  }

  #tiles .tile {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-duration: 1s;
  }

  .fade {
      animation-name: anim8
  }

  @keyframes anim8 {
      0% {
          opacity: 1;
      }

      50% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }